.sheet-container {
  /* display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 100px; */
  /* position: relative; */
  max-height: 100vh;

  header {
    .ep-display {
      position: absolute;
      top: 0;
      right: 0;
      padding: 2rem;
      font-size: 2rem;
    }
  }
  div {
    .section-row {
      /* height: 100%; */
      h2 {
        text-align: center;
        /* z.B. "Attributes" */
      }
      .row-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .column {
          /* z.B. "Körperlich" */
        }
      }
    }
  }
}

.trait-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 4px;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff; /* small white outline */
  cursor: pointer;
  text-align: center;
  line-height: 10px; /* match dot height */
  user-select: none;
  font-size: 0.6rem; /* smaller if you have text or symbols inside */
}

.dot:hover {
  filter: brightness(85%);
}

.dot-cost {
  margin-left: 8px;
  font-style: italic;
}

.disabled-dot {
  cursor: not-allowed;
  opacity: 0.5;
}

.custom-input {
  width: 100px;
  margin-right: 0.5rem;
  padding: 2px 4px;
  font-size: 0.9rem;
  border: 1px solid #999;
}

.discipline-select {
  min-width: 140px;
  margin-right: 0.5rem;
}

.clan-checkbox {
  margin-right: 1rem;
}
