.ep-display {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

.section-row-container {
  display: grid;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  text-align: center;
}

h3 {
  font-size: 1rem;
  text-align: center;
}

.row-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }
.column {
  border: 1px solid gainsboro;
  padding-left: 0.1rem;
}

.faehigkeiten-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 0.1rem;
  .dots-container {
    justify-self: right;
  }
}

.trait-row {
  display: grid;
  grid-template-columns: 1fr 1fr 3rem;
  
}

.disciplines-row {
  
  .trait-row {
    grid-template-columns: 6.5rem 4.5rem 3rem;
    gap: 0.5rem;
  }
}

.cost-container {
  justify-self: end;
  margin-right: 1rem;
}

.dot {
  display: inline-block;
  margin-right: 4px;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
  cursor: pointer;
  text-align: center;
  line-height: 10px;
  /* user-select: none; */
}

.dot:hover {
  filter: brightness(85%);
}

.dot-cost {
  font-style: italic;
}

.disabled-dot {
  cursor: not-allowed;
  opacity: 0.5;
}
input, select {
  font-size: 0.9rem;
}

.custom-input {
  margin-right: 0.5rem;
  padding: 2px 4px;

  border: 1px solid #999;
}
