/* src/styles/TraitRow.css */

.trait-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
  }
  
  .trait-row.highlight {
    background-color: rgba(255, 230, 0, 0.2);
  }
  
  .trait-name {
    width: 70px;
  }
  

  
